<div class="w-100 h-100 border d-flex">
  <div style="width: 20%">
    <div class="p-2">
      <h6 class="m-0">Combats</h6>
    </div>
    <hr class="m-0" />
    <div class="list-group list-group-flush">
      @if (combats.length === 0 && combatsInPreparation.length == 0 && archivedCombats.length == 0) {
        <div class="text-secondary text-center py-2">None</div>
      } @else {
        @for (combat of combatsInPreparation; track combat.id) {
          <ng-container [ngTemplateOutlet]="combatInPreparationListItem" [ngTemplateOutletContext]="{ combat, isInCombat: isInCombat(combat) }"></ng-container>
        }

        @for (combat of combats; track combat.id) {
          <ng-container [ngTemplateOutlet]="combatListItem" [ngTemplateOutletContext]="{ combat }"></ng-container>
        }

        @if (archivedCombats.length > 0) {
          <div class="text-bg-secondary px-2">
            <h6 class="m-0">Archived</h6>
          </div>

          @for (combat of archivedCombats; track combat.id) {
            <ng-container [ngTemplateOutlet]="archivedCombatListItem" [ngTemplateOutletContext]="{ combat }"></ng-container>
          }
        }
      }
    </div>
  </div>
  <div class="vr"></div>
  <div class="flex-grow-1 d-flex flex-column">
    @if (selectedCombat) {
      <app-combat [combat]="selectedCombat"></app-combat>
      <hr class="m-0" />
      <div>
        <app-combat-history [character]="character" [combat]="selectedCombat"></app-combat-history>
      </div>
    } @else if (selectedCombatInPreparation) {
      <app-combat-in-preparation
        [combat]="selectedCombatInPreparation"
        (changeAccessibility)="changeAccessibility(selectedCombatInPreparation, $event)"
      ></app-combat-in-preparation>
      <hr class="m-0" />
      <div>
        <app-combat-history [character]="character" [combat]="selectedCombatInPreparation!"></app-combat-history>
      </div>
    } @else if (selectedArchivedCombat) {
      <app-combat-history [character]="character" [combat]="selectedArchivedCombat" nEntries="40"></app-combat-history>
    } @else {
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <h6 class="text-secondary text-center">Select combat</h6>
      </div>
    }
  </div>
</div>

<ng-template #combatListItem let-combat="combat">
  <a role="button" class="list-group-item list-group-item-action" [class.active]="combat.id === selectedCombat?.id" (click)="selectCombat(combat)">
    <ng-container [ngTemplateOutlet]="combatPreview" [ngTemplateOutletContext]="{ combat }"></ng-container>
  </a>
</ng-template>

<ng-template #combatInPreparationListItem let-combat="combat" let-isInCombat="isInCombat">
  <a
    role="button"
    class="list-group-item list-group-item-action text-secondary"
    [ngClass]="combat.id === selectedCombatInPreparation?.id ? 'active text-light' : undefined"
    (click)="selectCombatInPreparation(combat)"
  >
    <div class="overflow-hidden">
      <ng-container [ngTemplateOutlet]="combatPreview" [ngTemplateOutletContext]="{ combat }"></ng-container>
    </div>
  </a>
</ng-template>

<ng-template #archivedCombatListItem let-combat="combat">
  <a
    role="button"
    class="list-group-item list-group-item-action"
    [ngClass]="combat.id === selectedArchivedCombat?.id ? 'active text-light' : 'list-group-item-secondary'"
    (click)="selectArchivedCombat(combat)"
  >
    <ng-container
      [ngTemplateOutlet]="combatPreview"
      [ngTemplateOutletContext]="{ combat, attackersIcon: combat.winner == 'attackers' ? 'award-fill' : null, defendersIcon: combat.winner == 'defenders' ? 'award-fill' : null }"
    ></ng-container>
  </a>
</ng-template>

<ng-template #combatPreview let-combat="combat" let-attackersIcon="attackersIcon" let-defendersIcon="defendersIcon">
  <div class="overflow-hidden">
    <div class="text-truncate">
      @if (attackersIcon) {
        <i class="bi bi-award-{{ attackersIcon }}"></i>
      }
      {{ cachedValues[combat.id].attackersDisplay }}
    </div>
    <div class="text-truncate">
      @if (defendersIcon) {
        <i class="bi bi-{{ defendersIcon }}"></i>
      }
      {{ cachedValues[combat.id].defendersDisplay }}
    </div>
  </div>
</ng-template>
