<div class="w-100 h-100 d-flex flex-nowrap">
  <div class="vr ms-1"></div>
  <div class="d-flex flex-column" style="width: 280px">
    <h4 class="pt-1 text-center"><i class="bi bi-globe"></i> Game</h4>
    <hr class="my-1" />
    @if (gameState) {
      <div class="text-center small text-uppercase">
        @if (gameState.paused) {
          paused
        } @else {
          running
        }
      </div>
      <hr class="mt-1 mb-0" />
      <div class="d-flex">
        @if (gameState.paused) {
          <a role="button" class="flex-grow-1 text-center" ngbTooltip="Play" (click)="play()">
            <i class="bi bi-play"></i>
          </a>
          <div class="vr"></div>
        }
        @if (!gameState.paused) {
          <a role="button" class="flex-grow-1 text-center" ngbTooltip="Pause" (click)="pause()">
            <i class="bi bi-pause"></i>
          </a>
          <div class="vr"></div>
        }
        <a role="button" class="flex-grow-1 text-center" ngbTooltip="Step" (click)="step()">
          <i class="bi bi-skip-end"></i>
        </a>
      </div>
      <hr class="mt-0 mb-1" />
      <div class="p-4"><span class="fw-semibold">Tick:</span> {{ gameState.tick }}</div>
    }
    <hr class="mt-auto" />
    <div ngbDropdown class="d-flex justify-content-between px-3 pb-3">
      <h6><i class="bi bi-person"></i> Player</h6>
      <a ngbDropdownToggle>
        {{ player.name }}
      </a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="changePlayer()">Change...</button>
      </div>
    </div>
  </div>
  <div class="vr"></div>
  <div class="vr ms-1"></div>
  <div class="flex-grow-1">
    <div class="h-100 d-flex flex-column justify-content-center">
      <h4 class="pt-1 text-center"><i class="bi bi-people"></i> Team</h4>
      <hr class="my-1" />
      @if (loading) {
        <app-spinner></app-spinner>
      } @else {
        @for (character of characters; track $index) {
          <div class="flex-grow-1">
            @if (character && character !== 'loading') {
              <div class="w-100 h-100 d-flex">
                <div class="p-4">
                  <div class="d-flex">
                    <h2>{{ character.name }}</h2>
                    <div class="flex-grow-1"></div>
                    <button class="btn btn-outline-danger" (click)="deleteCharacter(character)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                  <ul>
                    <li>Class: {{ character.class }}</li>
                    <li>Location: {{ character.location.positionX }}, {{ character.location.positionY }} ({{ character.location.area.name }})</li>
                    <li>
                      Planned action:
                      @if (character.plannedAction) {
                        {{ actionToString(character.plannedAction) }}
                      } @else {
                        none
                      }
                    </li>
                    <li>
                      Last action result:
                      @if (character.lastActionResult) {
                        {{ actionToString(character.lastActionResult.action) }}
                        @if (character.lastActionResult.success) {
                          (success)
                        } @else {
                          <div class="text-danger">failed: {{ character.lastActionResult.failureReason }}</div>
                        }
                      } @else {
                        none
                      }
                    </li>
                    <li>
                      Current interaction:
                      @if (character.currentInteraction) {
                        {{ character.currentInteraction.interaction.name }}, {{ character.currentInteraction.subject.name }}
                      } @else {
                        none
                      }
                    </li>
                  </ul>
                </div>
                <div class="vr"></div>
                <div class="py-2 px-4" style="width: 25%">
                  <h6>Inventory</h6>
                  <app-inventory [inventory]="character.inventory"></app-inventory>
                </div>
                <div class="vr"></div>
                <div class="flex-grow-1"></div>
                <div class="vr"></div>
                <div class="d-flex flex-column py-2 px-4">
                  <h6>Move to</h6>
                  @for (accessibleLocation of accessibleLocations[character.id]; track accessibleLocation.id) {
                    <button
                      class="btn"
                      [ngClass]="characterPlansToMoveToLocation(character, accessibleLocation) ? 'btn-secondary' : 'btn-outline-secondary'"
                      (click)="moveToLocation(character, accessibleLocation)"
                    >
                      {{ accessibleLocation.area.name }}: {{ accessibleLocation.positionX }},
                      {{ accessibleLocation.positionY }}
                    </button>
                  }
                </div>
                <div class="vr"></div>
                <div class="d-flex flex-column py-2 px-4">
                  <h6>Interactions</h6>
                  @for (entity of entitiesWithInteractions[character.id]; track entity.id) {
                    <span [class.text-underline]="characterPlansToInteractWithEntity(character, entity)">
                      {{ entity.name }}
                    </span>
                    <div class="d-flex flex-wrap">
                      @for (interaction of entity.interactions; track interaction.id) {
                        <button
                          class="btn"
                          [ngClass]="characterPlansToPerformInteraction(character, entity, interaction) ? 'btn-secondary' : 'btn-outline-secondary'"
                          (click)="interact(character, entity, interaction)"
                        >
                          {{ interaction.name }}
                        </button>
                      }
                    </div>
                  }
                </div>
              </div>
            } @else if (character === 'loading') {
              <app-spinner></app-spinner>
            } @else {
              <app-create-character (character)="addCharacter($event, $index)"></app-create-character>
            }
          </div>
          <hr class="m-0" />
        }
      }
    </div>
  </div>
  <div class="vr me-1"></div>
</div>
