<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center p-4">
  <h2>Create character</h2>
  <form>
    <div class="mb-3">
      <label for="name">Name</label>
      <input #name id="name" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="class">Class</label>
      <select #class id="class" class="form-select">
        <option selected>Choose a class</option>
        @for (characterClass of characterClasses; track characterClass.value) {
          <option [value]="characterClass.value">{{ characterClass.display }}</option>
        }
      </select>
    </div>
    <button class="btn btn-outline-dark" (click)="createCharacter(name.value, class.value)">Create</button>
  </form>
</div>
