<div class="w-100 h-100 border">
  <div class="p-2">
    <h6 class="m-0" [class.fw-bold]="plansToAttack()">Monsters</h6>
  </div>
  <hr class="m-0" />
  <ul class="list-group list-group-flush">
    @if (monsterGroups.length > 0) {
      @for (monsterGroup of monsterGroups; track monsterGroup.id) {
        <ng-container
          [ngTemplateOutlet]="monsterGroupListItem"
          [ngTemplateOutletContext]="{ monsterGroup, plansToAttack: plansToAttack(monsterGroup), isAttacking: isAttacking(monsterGroup) }"
        ></ng-container>
      }
    } @else {
      <li class="list-group-item text-center text-secondary">None</li>
    }
  </ul>
</div>

<ng-template #monsterGroupListItem let-monsterGroup="monsterGroup" let-plansToAttack="plansToAttack" let-isAttacking="isAttacking">
  <li class="list-group-item" [class.text-danger]="!monsterGroup.canAttack && !isAttacking">
    <div>
      <span class="fw-semibold">Lv.{{ monsterGroup.totalLevel }}: </span>
      <span class="small">{{ monsterGroup.expectedExperience }} exp</span>
    </div>
    <div class="small">
      {{ monsterGroup.display }}
    </div>
    <div class="mt-2 d-flex justify-content-end">
      @if (isAttacking) {
        <a class="btn btn-primary stretched-link small">In combat</a>
      } @else if (plansToAttack) {
        <a class="btn btn-primary stretched-link small">Attack</a>
      } @else if (monsterGroup.canAttack) {
        <a class="btn btn-outline-secondary stretched-link small" (click)="attack(monsterGroup)">Attack</a>
      }
    </div>
    @if (!isAttacking && !monsterGroup.canAttack) {
      <span class="small text-truncate" [title]="monsterGroup.whyCannotAttack">
        {{ monsterGroup.whyCannotAttack }}
      </span>
    }
  </li>
</ng-template>
