<div class="w-100 h-100 border">
  <div class="p-2">
    <h6 class="m-0" [class.fw-bold]="plansToAttack()">Monsters</h6>
  </div>
  <hr class="m-0" />
  <ul class="list-group list-group-flush">
    @if (monsterGroups.length > 0) {
      @for (monsterGroup of monsterGroups; track monsterGroup.id) {
        <ng-container
          [ngTemplateOutlet]="monsterGroupListItem"
          [ngTemplateOutletContext]="{ monsterGroup, plansToAttack: plansToAttack(monsterGroup), isAttacking: isAttacking(monsterGroup) }"
        ></ng-container>
      }
    } @else {
      <li class="list-group-item text-center text-secondary">None</li>
    }
  </ul>
</div>

<ng-template #monsterGroupListItem let-monsterGroup="monsterGroup" let-plansToAttack="plansToAttack" let-isAttacking="isAttacking">
  <li class="list-group-item" [class.text-danger]="!monsterGroup.canAttack && !isAttacking" (click)="attack(monsterGroup)">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        @for (monster of monsterGroup.monsters; track monster.id) {
          <div class="text-truncate" [class.text-danger]="!monsterGroup.canAttack && !isAttacking">{{ monster.name }} lv. {{ monster.level }}</div>
        }
        @if (isAttacking || monsterGroup.canAttack) {
          <div class="text-truncate small">{{ monsterGroup.expectedExperience }} exp</div>
        }
      </div>
      <div class="d-flex align-items-center justify-content-center">
        @if (isAttacking) {
          <button class="btn btn-primary">In combat</button>
        } @else if (plansToAttack) {
          <button class="btn btn-primary">Attack</button>
        } @else if (monsterGroup.canAttack) {
          <button class="btn btn-outline-secondary">Attack</button>
        }
      </div>
    </div>
    @if (!isAttacking && !monsterGroup.canAttack) {
      <span class="small text-truncate" [title]="monsterGroup.whyCannotAttack">
        {{ monsterGroup.whyCannotAttack }}
      </span>
    }
  </li>
</ng-template>
