@page
@model GamesModel
@{
    ViewData["Title"] = "Games";
}

<h1 class="display-4 text-center mb-4">Games</h1>

<ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        Game
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="bi-plus"></i> Create new...
    </a>
</ul>