<div class="w-100 h-100 row">
  <div class="col-lg-5 d-flex gap-2">
    @for (entity of combat.attackers; track entity.id) {
      <ng-container [ngTemplateOutlet]="entityTpl" [ngTemplateOutletContext]="{ entity }"></ng-container>
    }
  </div>
  <div class="col"></div>
  <div class="col-lg-5 d-flex gap-2">
    @for (entity of combat.defenders; track entity.id) {
      <ng-container [ngTemplateOutlet]="entityTpl" [ngTemplateOutletContext]="{ entity }"></ng-container>
    }
  </div>
</div>

<ng-template #entityTpl let-entity="entity">
  <div class="flex-grow-1 text-center">
    <div>{{ entity.name }} lv. {{ entity.level }}</div>
    <app-progression-bar color="danger" label="HP" [value]="entity.combat.health" [maxValue]="entity.combat.maxHealth" displayValue="absolute"></app-progression-bar>
  </div>
</ng-template>
