@if (loading) {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <app-spinner></app-spinner>
  </div>
} @else if (!character) {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <h1>
      Character <code>{{ characterId }}</code> not found
    </h1>
  </div>
} @else {
  <div class="w-100 h-100 p-4">
    <div class="w-100 h-100 row">
      <div class="col">
        <div class="vstack gap-4">
          <div class="row">
            <div class="col">
              <div class="w-100 h-100 border p-4">
                <app-character [character]="character"></app-character>
              </div>
            </div>

            <div class="col">
              <div class="w-100 h-100 border py-3 px-4">
                <h6>Jobs</h6>
                <app-jobs [jobs]="character.jobs"></app-jobs>
              </div>
            </div>

            <div class="col">
              <div class="w-100 h-100 border py-3 px-4">
                <h6>Inventory</h6>
                <app-inventory [inventory]="character.inventory"></app-inventory>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="w-100 h-100 border py-3 px-4">
                <h6>Actions</h6>

                <div class="row mb-3">
                  <div class="col-sm-2" [class.fw-bold]="plansToMove()">Move to</div>
                  <div class="col">
                    <div class="d-flex flex-wrap">
                      @for (accessibleLocation of accessibleLocations; track accessibleLocation.id) {
                        <button
                          class="btn btn-sm"
                          [ngClass]="plansToMoveToLocation(accessibleLocation) ? 'btn-secondary' : 'btn-outline-secondary'"
                          (click)="moveToLocation(accessibleLocation)"
                        >
                          {{ accessibleLocation.area.name }}: {{ accessibleLocation.positionX }},
                          {{ accessibleLocation.positionY }}
                        </button>
                      }
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-2" [class.fw-bold]="plansToInteract()">Interact with</div>
                  <div class="col">
                    <div class="d-flex flex-wrap gap-2">
                      @for (entity of entitiesWithInteractions; track entity.id) {
                        <div class="border rounded p-2">
                          <div class="mb-2" [class.text-underline]="plansToInteractWithEntity(entity)">
                            {{ entity.name }}
                          </div>
                          <div class="d-flex flex-wrap">
                            @for (interaction of entity.interactions; track interaction.name) {
                              <button
                                class="btn btn-sm"
                                [ngClass]="
                                  plansToPerformInteraction(entity, interaction)
                                    ? 'btn-secondary'
                                    : isPerformingInteraction(entity, interaction)
                                      ? 'btn-primary'
                                      : 'btn-outline-secondary'
                                "
                                (click)="interact(entity, interaction)"
                                [disabled]="!interaction.canInteract"
                              >
                                {{ interaction.name }}
                              </button>
                            }
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="w-100 h-100 border d-flex">
                <div style="width: 20%">
                  <div class="p-2">
                    <h6 class="m-0">Combats</h6>
                  </div>
                  <hr class="m-0" />
                  <div class="list-group list-group-flush">
                    @if (combats.length === 0) {
                      <div class="text-secondary text-center py-2">None</div>
                    } @else {
                      @for (combat of combats; track combat.id) {
                        <a role="button" class="list-group-item list-group-item-action" [class.active]="combat.id === selectedCombat?.id" (click)="selectCombat(combat)">
                          <div class="d-flex gap-2 align-items-center">
                            <div>vs.</div>
                            <div>
                              <div class="text-truncate">
                                @for (entity of combat.team1; track entity.id) {
                                  {{ entity.name }},
                                }
                              </div>
                              <div class="text-truncate">
                                @for (entity of combat.team2; track entity.id) {
                                  {{ entity.name }},
                                }
                              </div>
                            </div>
                          </div>
                        </a>
                      }
                    }
                  </div>
                </div>
                <div class="vr"></div>
                <div class="flex-grow-1 py-3 px-4">
                  @if (selectedCombat) {
                    <app-combat [combat]="selectedCombat"></app-combat>
                  } @else {
                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                      <h6 class="text-secondary text-center">Select combat</h6>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 h-100">
        <div class="w-100 h-100 border d-flex flex-column">
          <div class="p-2">
            <h6 class="m-0">History</h6>
          </div>
          <hr class="m-0" />
          <div class="flex-grow-1 overflow-auto">
            <app-character-history [character]="character" [nEntries]="40"></app-character-history>
          </div>
        </div>
      </div>
    </div>
  </div>
}
