@if (loading) {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <app-spinner></app-spinner>
  </div>
} @else if (!character) {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <h1>
      Character <code>{{ characterId }}</code> not found
    </h1>
  </div>
} @else {
  <div class="w-100 h-100 p-4">
    <div class="w-100 h-100 row gy-4">
      <div class="col">
        <div class="vstack gap-4">
          <div class="row gy-4">
            <div class="col">
              <app-character [character]="character"></app-character>
            </div>

            <div class="col">
              <app-jobs [jobs]="character.jobs"></app-jobs>
            </div>

            <div class="col">
              <app-inventory [inventory]="character.inventory"></app-inventory>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="w-100 h-100 border py-3 px-4">
                <ul class="list-unstyled">
                  <li>
                    <span class="fw-semibold me-1">Location</span>
                    {{ character.location.area.name }} [{{ character.location.positionX }}, {{ character.location.positionY }}]
                  </li>
                  <li>
                    <span class="fw-semibold me-1">Planned action</span>
                    @if (character.plannedAction) {
                      {{ actionToString(character.plannedAction) }}
                    } @else {
                      none
                    }
                  </li>
                  <li>
                    <span class="fw-semibold me-1">Ongoing action</span>
                    @if (character.ongoingAction) {
                      {{ actionToString(character.ongoingAction) }}
                    } @else {
                      none
                    }
                  </li>
                </ul>

                <div class="row gy-4">
                  <div class="col col-lg-4">
                    <app-character-movements [character]="character"></app-character-movements>
                  </div>

                  <div class="col col-lg-4">
                    <app-character-harvests [character]="character"></app-character-harvests>
                  </div>

                  <div class="col col-lg-4">
                    <app-character-monsters [character]="character"></app-character-monsters>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="w-100 h-100 border d-flex">
                <div style="width: 20%">
                  <div class="p-2">
                    <h6 class="m-0">Combats</h6>
                  </div>
                  <hr class="m-0" />
                  <div class="list-group list-group-flush">
                    @if (combats.length === 0 && combatsInPreparation.length == 0) {
                      <div class="text-secondary text-center py-2">None</div>
                    } @else {
                      @for (combat of combats; track combat.id) {
                        <a role="button" class="list-group-item list-group-item-action" [class.active]="combat.id === selectedCombat?.id" (click)="selectCombat(combat)">
                          <div class="text-truncate">
                            @for (entity of combat.attackers; track entity.id) {
                              {{ entity.name }},
                            }
                          </div>
                          <div class="text-truncate">
                            @for (entity of combat.defenders; track entity.id) {
                              {{ entity.name }},
                            }
                          </div>
                        </a>
                      }

                      @for (combat of combatsInPreparation; track combat.id) {
                        <a
                          role="button"
                          class="list-group-item list-group-item-action text-secondary"
                          [ngClass]="combat.id === selectedCombatInPreparation?.id ? 'active text-light' : undefined"
                          (click)="selectCombatInPreparation(combat)"
                        >
                          <div class="d-flex">
                            <div class="flex-grow-1">
                              <div class="text-truncate">
                                @for (entity of combat.attackers; track entity.id) {
                                  {{ entity.name }},
                                }
                              </div>
                              <div class="text-truncate">
                                @for (entity of combat.defenders; track entity.id) {
                                  {{ entity.name }},
                                }
                              </div>
                            </div>
                            <div>
                              @if (plansToJoinCombat(combat) || isInCombat(combat)) {
                                <button class="btn btn-outline-light disabled">Joined</button>
                              } @else {
                                <button class="btn" [ngClass]="combat.id === selectedCombatInPreparation?.id ? 'btn-light' : 'btn-outline-secondary'" (click)="joinCombat(combat)">
                                  Join
                                </button>
                              }
                            </div>
                          </div>
                        </a>
                      }
                    }
                  </div>
                </div>
                <div class="vr"></div>
                <div class="flex-grow-1 py-3 px-4">
                  @if (selectedCombat) {
                    <app-combat [combat]="selectedCombat"></app-combat>
                  } @else if (selectedCombatInPreparation) {
                    <app-combat-in-preparation [combat]="selectedCombatInPreparation"></app-combat-in-preparation>
                  } @else {
                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                      <h6 class="text-secondary text-center">Select combat</h6>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 h-100">
        <div class="w-100 h-100 border d-flex flex-column">
          <div class="p-2">
            <h6 class="m-0">History</h6>
          </div>
          <hr class="m-0" />
          <div class="flex-grow-1 overflow-auto">
            <app-character-history [character]="character" [nEntries]="40"></app-character-history>
          </div>
        </div>
      </div>
    </div>
  </div>
}
