<div class="w-100 h-100 border">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <div class="fw-semibold">Inventory</div>
      <div>
        <i class="bi bi-duffle-fill" title="Weight"></i>
        {{ inventory.weight }}
      </div>
    </li>
    @for (stack of inventory.stacks; track stack.itemInstance.id) {
      <li role="button" class="list-group-item list-group-item-action text-truncate">
        {{ stack.count }}x
        {{ stack.itemInstance.item.name }}
      </li>
    }
  </ul>

  <div class="d-flex gap-2 flex-wrap"></div>
</div>
