@if (teamService.team) {
  <div class="list-group list-group-flush">
    @for (character of teamService.team.characters; track $index) {
      <a
        type="button"
        class="list-group-item list-group-item-action"
        [class.active]="currentPageService.isCharacterOpened(character)"
        (click)="currentPageService.openCharacter(character)"
      >
        <div class="d-flex gap-1">
          <div>
            <i class="bi bi-person"></i>
          </div>
          <div class="flex-grow-1">
            <div class="d-flex gap-1">
              <span class="text-uppercase">{{ character.class.name }}</span>
              {{ character.name }}
              <div class="flex-grow-1"></div>
              lv.{{ character.progression.level }}
            </div>
            <app-progression-bar
              color="danger"
              label="HP"
              labelSize="3"
              [value]="character.combat.health"
              [maxValue]="character.combat.maxHealth"
              displayValue="absolute"
            ></app-progression-bar>
            <app-progression-bar
              color="info"
              label="Exp"
              labelSize="3"
              [value]="character.progression.experience"
              [maxValue]="character.progression.nextLevelExperience"
              displayValue="absolute"
            ></app-progression-bar>
            <div>{{ character.location.area.name }}: [{{ character.location.positionX }}, {{ character.location.positionY }}]</div>
          </div>
        </div>
      </a>
    }

    @if (!loadingClasses && gameService.settings.maxTeamSize && teamService.team.characters.length < gameService.settings.maxTeamSize) {
      @if (inCreation) {
        <div class="p-2">
          <h6>Create character</h6>
          <form>
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
              <div class="col-sm">
                <input #name id="name" class="form-control form-control-sm" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="class" class="col-sm-2 col-form-label col-form-label-sm">Class</label>
              <div class="col-sm">
                <select #class id="class" class="form-select form-select-sm">
                  <option selected>Choose a class</option>
                  @for (characterClass of characterClasses; track characterClass.value) {
                    <option [value]="characterClass.value">{{ characterClass.display }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-sm btn-outline-dark" (click)="createCharacter(name.value, class.value)" [disabled]="!name.value || !class.value || creating">
                @if (creating) {
                  <app-spinner size="sm"></app-spinner>
                } @else {
                  Create
                }
              </button>
            </div>
          </form>
        </div>
      } @else {
        <a type="button" class="list-group-item list-group-item-action" (click)="inCreation = true">
          <i class="bi bi-plus"></i>
          Create new character ({{ teamService.team.characters.length }}/{{ gameService.settings.maxTeamSize }})
        </a>
      }
    }
  </div>
} @else {
  <div class="text-center">Not found</div>
}
