<div class="w-100 h-100 d-flex flex-column">
  <div class="flex-grow-1">
    <app-map [locations]="locations" [markerGroups]="markerGroups"></app-map>
  </div>
  <hr class="m-0" />
  <div class="w-100 overflow-hidden p-2" style="height: 15%">
    <div class="h-100 d-flex gap-4">
      @for (category of markerDescriptions; track category.category) {
        <div class="d-flex flex-column">
          <div class="form-check flex-grow-1">
            <input
              class="form-check-input"
              type="checkbox"
              [indeterminate]="markerCategoryConfiguration[category.category] === 'indeterminate'"
              [checked]="markerCategoryConfiguration[category.category]"
              [id]="category.category"
              (change)="setCategoryEnabled(category.category, $any($event.target).checked)"
            />
            <label class="form-check-label text-nowrap" [for]="category.category"> {{ category.category | titlecase }} </label>
          </div>
          <div class="flex-grow-1">
            @for (marker of category.markers; track marker.name) {
              <div class="d-flex gap-2 align-items-center px-2">
                <div class="form-check flex-grow-1">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="markerConfiguration[marker.name]"
                    [id]="marker.name"
                    (change)="setEnabled(marker.name, $any($event.target).checked)"
                  />
                  <label class="form-check-label text-nowrap" [for]="marker.name">
                    {{ marker.display | titlecase }}
                    @if (markerCounts[marker.name] > 1) {
                      ({{ markerCounts[marker.name] }})
                    }
                  </label>
                </div>
                <div
                  [class.invisible]="!markerConfiguration[marker.name]"
                  [class.rounded-circle]="marker.marker.shape === 'circle'"
                  [class.border]="!!marker.marker.borderColor"
                  class="border-1"
                  [ngStyle]="{ 'width.px': 16, 'height.px': 16, 'background-color': marker.marker.color }"
                  [style.borderColor]="marker.marker.borderColor ? marker.marker.borderColor + ' !important' : undefined"
                ></div>
              </div>
            }
          </div>
        </div>
        <div class="vr"></div>
      }
    </div>
  </div>
</div>
