<div class="w-100 h-100 border">
  <div class="p-2">
    <h6 class="m-0" [class.fw-bold]="plansToMove()">Movements</h6>
  </div>
  <hr class="m-0" />
  <div class="list-group list-group-flush">
    @if (locations.length > 0) {
      @for (locationWithAccess of locations; track locationWithAccess.location.id) {
        <a
          role="button"
          class="list-group-item list-group-item-action"
          [class.active]="plansToMove(locationWithAccess.location)"
          [class.disabled]="!locationWithAccess.isAccessible"
          [class.text-danger]="!locationWithAccess.isAccessible"
          (click)="moveToLocation(locationWithAccess)"
        >
          <div>{{ locationWithAccess.location.area.name }} [{{ locationWithAccess.location.positionX }}, {{ locationWithAccess.location.positionY }}]</div>
          @if (!locationWithAccess.isAccessible) {
            <div class="small">{{ locationWithAccess.whyIsNotAccessible }}</div>
          }
        </a>
      }
    } @else {
      <div class="list-group-item text-center text-secondary">None</div>
    }
  </div>
</div>
