<form>
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
    <div class="col-sm">
      <input #name id="name" class="form-control form-control-sm" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="class" class="col-sm-2 col-form-label col-form-label-sm">Class</label>
    <div class="col-sm">
      <select #class id="class" class="form-select form-select-sm">
        <option selected>Choose a class</option>
        @for (characterClass of characterClasses; track characterClass.value) {
          <option [value]="characterClass.value">{{ characterClass.display }}</option>
        }
      </select>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="createCharacter(name.value, class.value)" [disabled]="creating">
      @if (creating) {
        <app-spinner size="sm"></app-spinner>
      } @else {
        Create
      }
    </button>
  </div>
</form>
