<div class="w-100 h-100 d-flex flex-nowrap">
  <div class="vr ms-1"></div>
  <div class="d-flex flex-column" style="width: 280px">
    <ng-container [ngTemplateOutlet]="menuTitle" [ngTemplateOutletContext]="{ icon: 'globe', name: 'Game' }"> </ng-container>
    <app-simulation></app-simulation>

    <ng-container [ngTemplateOutlet]="menuTitle" [ngTemplateOutletContext]="{ icon: 'people', name: 'Players' }"></ng-container>
    <app-players></app-players>

    <ng-container
      [ngTemplateOutlet]="menuTitle"
      [ngTemplateOutletContext]="{ icon: 'people', name: 'Team', active: this.currentPageService.isAnyCharacterOpened() }"
    ></ng-container>
    <app-team></app-team>

    <hr class="m-0" />
  </div>
  <div class="vr"></div>
  <div class="vr ms-1"></div>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
  <div class="vr me-1"></div>
</div>

<ng-template #menuTitle let-name="name" let-icon="icon" let-active="active">
  <hr class="my-1" />
  <h4 class="pt-1 text-center" [class.fw-bold]="active">
    @if (icon) {
      <i class="bi bi-{{ icon }}"></i>
    }
    {{ name }}
  </h4>
  <hr class="m-0" />
</ng-template>
