<div class="row">
  <div class="col">
    <div class="hstack">
      <h2>
        <span class="text-uppercase">{{ character.class.name }}</span>
        {{ character.name }}
      </h2>
      <div class="flex-grow-1"></div>
      <div>lv.{{ character.progression.level }}</div>
    </div>
    <app-progression-bar color="danger" label="HP" [value]="character.combat.health" [maxValue]="character.combat.maxHealth" displayValue="absolute"></app-progression-bar>
    <app-progression-bar color="info" label="Exp" [value]="character.progression.experience" [maxValue]="1" displayValue="absolute"></app-progression-bar>
    <ul>
      <li>Location: {{ character.location.positionX }}, {{ character.location.positionY }} ({{ character.location.area.name }})</li>
      <li>
        Planned action:
        @if (character.plannedAction) {
          {{ actionToString(character.plannedAction) }}
        } @else {
          none
        }
      </li>
      <li>
        Last action result:
        @if (character.lastActionResult) {
          {{ actionToString(character.lastActionResult.action) }}
          @if (character.lastActionResult.success) {
            (success)
          } @else {
            <div class="text-danger">failed: {{ character.lastActionResult.failureReason }}</div>
          }
        } @else {
          none
        }
      </li>
      <li>
        Current interaction:
        @if (character.currentInteraction) {
          {{ character.currentInteraction.interaction.name }}, {{ character.currentInteraction.target.name }}
        } @else {
          none
        }
      </li>
      <li>Weight: {{ character.inventory.weight }}</li>
    </ul>
  </div>
</div>
