<div class="w-100 h-100 border py-3 px-4">
  <h6>Jobs</h6>
  <ul class="list-group list-group-flush">
    @for (jobInstance of jobs; track jobInstance.job.id) {
      <li class="list-group-item">
        <div class="d-flex gap-4 align-items-center">
          <div>{{ jobInstance.job.name | titlecase }}</div>
          <div class="flex-grow-1">
            <app-progression-bar
              color="info"
              [value]="jobInstance.progression.experience"
              [maxValue]="jobInstance.progression.nextLevelExperience"
              displayValue="absolute"
            ></app-progression-bar>
          </div>
          <div>lv. {{ jobInstance.progression.level }}</div>
        </div>
      </li>
    }
  </ul>
</div>
